.features {
  display: flex;
  align-items: center;
  padding: 3rem 0 4rem;
  width: 100%;
  background: var(--ifm-color-emphasis-100);
}

.featureIconWrap {
  margin-bottom: 1rem;
}

.featureIcon {
  height: 80px;
  width: 80px;
  color: var(--ifm-color-primary);
}
